.section-two {
  background-color: $fifth-color;
  font-family: "Cairo", sans-serif;
  padding: 3em 4em 0 2em;
  display: flex;

  .right-side {
    width: 100%;

    .first-text {
      font-weight: bold;
      font-size: 1.5em;
      letter-spacing: -1px;
      color: $third-color;
    }

    .second-text {
      font-size: 1em;
    }

    .list-items-container {
      list-style: none;

      .list-item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 0.875em;

        .item-icon {
          margin-left: 0.5em;
        }
      }
    }

    .btn {
      width: 18.438em;
      height: 3.75em;
      background: $third-color;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1.125em;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: $fourth-color;
      justify-content: center;
      margin: 2em 0;

      i {
        color: $fourth-color;
        margin-right: 0.4em;
        font-size: 1.5em;
      }
    }
  }

  .left-side {
    position: relative;
    width: fit-content;

    .dot-pattern {
      position: absolute;
      left: -1.5em;
      top: -1.5em;
    }

    .ellipse {
      position: absolute;
      bottom: -2em;
      right: -3em;
    }

    .section-img {
      position: relative;
    }
  }
}

@media (min-width: 320px) and (max-width: 1279px) {
  // Mobiles and tablets
  .section-two {
    padding: 3em 1em;
    flex-wrap: wrap;
    justify-content: center;

    .right-side {
      .btn {
        width: 12.438em;
        height: 2.75em;
        margin: 2em auto;
      }
    }

    .left-side {
      .dot-pattern {
        width: 5em;
        height: 5em;
        left: -1em;
        top: -1.5em;
      }

      .ellipse {
        width: 5em;
        height: 5em;
        bottom: -1em;
        right: -1em;
      }

      .section-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
