$first-color: #ffff;
$second-color: #0000;
$third-color: #8d5da7;
$fourth-color: #fdb515;
$fifth-color: rgba(250, 250, 252, 0.93);
$sixth-color: #f7f7f7;
$seventh-color: rgba(0, 0, 0, 0.56);
$eighth-color: #FFD12F;
$ninth-color: #45A787;